{% extends 'base.html' %}

{% block title %}Table{% endblock title %}

{% block content %}
<table border="=1">
    <tr>
        <th>Id</th>
        <th>Email_from</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Created</th>
    </tr>>
    {% for object in contact_us %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.email_from }}</td>
        <td>{{ object.subject }}</td>
        <td>{{ object.message }}</td>
        <td>{{ object.created }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}