{% extends 'base.html' %}

{% block title %}Rate Detail{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>>
                <th>Type</th>
                <th>Buy</th>
                <th>Sale</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ object.id }}</td>
                    <td> {{ object.type }} </td>
                    <td> {{ object.buy }} </td>
                    <td> {{ object.sale }} </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
