{% extends 'base.html' %}

{% block title %}Table{% endblock title %}

{% block content %}
    <table border="1">
    <tr>
        <th colspan="8"> <a href="{% url 'currency:rate-create' %}">Create Rate</a> </th>
    </tr>
    <tr>
        <th>Id</th>>
        <th>Type</th>
        <th>Sale</th>
        <th>Buy</th>
        <th>Created</th>
        <th colspan="3">Options</th>
    </tr>
    {% for rate in object_list %}
    <tr>
        <th> {{ rate.id }}</th>
        <th> {{ rate.type }}</th>
        <th> {{ rate.sale }}</th>
        <th> {{ rate.buy }}</th>
        <th> {{ rate.created }}</th>
        <th> <a href="{% url 'currency:rate-details' rate.id %}">Details</a> </th>
        <th> <a href="{% url 'currency:rate-update' rate.id %}">Edit</a> </th>
        <th> <a href="{% url 'currency:rate-delete' rate.id %}">Delete</a> </th>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
