{% extends 'base.html' %}

{% block title %}Table{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <a href="{% url 'currency:source-create' %}">Create Source</a>
            <br>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>>
                    <th>Source_url</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th colspan="3">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.id }}</td>
                        <td>{{ object.source_url }}</td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.created }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'currency:source-update' object.id %}">Edit </a>
                                    <a class="dropdown-item" href="{% url 'currency:source-delete' object.id %}">Delete </a>
                                    <a class="dropdown-item" href="{% url 'currency:source-details' object.id %}">Details </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}